.header-content {
  display: table;
  margin: auto;
  width: 100%;
}
.back-btn-group {
  display: table-cell;
  vertical-align: middle;
}
.player-bike {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.bike-icon{
  display:none;
}
.score {
  display: table-cell;
  vertical-align: middle;
}
.mb-3{
  width:25%;
}
.mb-3 {
  width: 25%;
}
.mb-6 {
  width: 50%;
}

.input-group {
  margin:10px 0px
}
